<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (posts.length>0) {%>
    <% posts.forEach(post => { %>

        <h3 class="title"><%= post.title %></h3>
        <p class="snippet"><%= post.description %></p>
      <% }) %>
    <% } %>

</body>
</html>